html {
	margin: 0;
	padding: 0;
}

#header {
	background: #ba0600;
	margin: auto;
	color: #FFF;
	text-align: left;
	font-size: 50px;
}

#headertext {
  padding: 30px;
  background: #ba0600;
  color: #FFF;
  font-size: 50px;
  font-family: 'Big Caslon', serif;
}

#links{
	background:#000;
	color: #FFF;
}

a {
  font-size: 15px;
	color: #FFF;
  padding: 5px;
	text-transform: none;
}

.container {
	width: 100%;
}

/* Individual things */
#first {
  height: 150px;
  background: #AAA;
}

#second {
  background: #AAA;
  margin-bottom: 10px;
  float: top;
}

#third {
  background: #AAA;
  margin-bottom: 10px;
}

#fourth {
  background: #AAA;
  margin-bottom: 10px;
}

#sports {
  background: #AAA;
}

#ad {
  background: url("images/11.JPG");
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title {
  font-size:50px;
}

#editorial {
  background: #AAA;
}

#text {
  padding: 10px;
}

#picture {
  padding: 10px;
  float: left;
  background: #FFF;
  height: 200px;
}

