html {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #a70500;
	margin: auto;
	color: #FFF;
	text-align: left;
	font-size: 50px;
  padding-bottom: 10px;
}

#headertext {
  margin-top: 11px;
}

#endline {
    background-color: #a70500;
    padding: 20px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
}

#headertext td {
  padding: 10px;
  color: #FFF;
  font-size: 50px;
  font-family: 'Big Caslon', serif;
  text-align: center;
}

#links{
	background:#000;
	color: #FFF;
}

a {
  font-size: 15px;
	color: #FFF;
  padding: 5px;
	text-transform: none;
}

.container {
	width: 100%;
}

/* Individual things */
/*#first {
  background: #AAA;
}*/

#second {
/*  background: #AAA;*/
  margin-bottom: 10px;
}

#third {
/*  background: #AAA;*/
  margin-bottom: 10px;
}

#fourth {
/*  background: #AAA;*/
  margin-bottom: 10px;
}

#author {
  font-size: 12px;
}

#sports {
/*  background: #AAA;*/
margin-bottom: 10px;
}

#ad {
  background: url("images/.JPG");
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title {
  font-size:50px;
}

#editorial {
/*  background: #AAA;*/
  margin-bottom: 10px;
}

#text {
}

#headline {
  font-size: 20px;
  font-family: 'Georgia';
  text-decoration: bold;
}



#picture {
  margin-right: 10px;
  float: left;
}

